### 1. Setup and Import

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

pd.set_option("display.max_columns", None)
pd.set_option("display.width", 200)

### 2. Load Raw Data

In [3]:
ROOT = Path.cwd().parent.parent.parent

annual_path = ROOT / "data/raw/fundamentals/fmp/fundamentals_annual.parquet"
quarter_path = ROOT / "data/raw/fundamentals/fmp/fundamentals_quarter.parquet"

dfA = pd.read_parquet(annual_path)
dfQ = pd.read_parquet(quarter_path)

dfA.head(), dfQ.head()

(         date symbol       revenue   grossProfit  operatingIncome     netIncome    eps   totalAssets  totalStockholdersEquity  totalLiabilities     totalDebt  operatingCashFlow  freeCashFlow  \
 0  2017-01-29   NVDA  6.910000e+09  4.063000e+09     1.934000e+09  1.666000e+09  0.077  9.841000e+09             5.762000e+09      4.079000e+09  2.816000e+09       1.672000e+09  1.496000e+09
 1  2018-01-28   NVDA  9.714000e+09  5.822000e+09     3.210000e+09  3.047000e+09  0.130  1.124100e+10             7.471000e+09      3.770000e+09  2.000000e+09       3.502000e+09  2.909000e+09
 2  2019-01-27   NVDA  1.171600e+10  7.171000e+09     3.804000e+09  4.141000e+09  0.170  1.329200e+10             9.342000e+09      3.950000e+09  1.988000e+09       3.743000e+09  3.143000e+09
 3  2020-01-26   NVDA  1.091800e+10  6.768000e+09     2.846000e+09  2.796000e+09  0.120  1.731500e+10             1.220400e+10      5.111000e+09  2.643000e+09       4.761000e+09  4.272000e+09
 4  2021-01-31   NVDA  1.667500e+10  1.039600e+10     4.532000e+09  4.332000e+09  0.180  2.879100e+10             1.689300e+10      1.189800e+10  7.718000e+09       5.822000e+09  4.694000e+09

    capitalExpenditure  numberOfShares  enterpriseValue  stockPrice  marketCapitalization  minusCashAndCashEquivalents  addTotalDebt  sharesOutstanding     marketCap period  year
 0       -1.760000e+08    2.164000e+10     6.056000e+10        2.75          5.951000e+10                 1.766000e+09  2.816000e+09       2.164000e+10  5.951000e+10      A  2017
 1       -5.930000e+08    2.396000e+10     1.458312e+11        6.17          1.478332e+11                 4.002000e+09  2.000000e+09       2.396000e+10  1.478332e+11      A  2018
 2       -6.000000e+08    2.432000e+10     8.511000e+10        3.45          8.390400e+10                 7.820000e+08  1.988000e+09       2.432000e+10  8.390400e+10      A  2019
 3       -4.890000e+08    2.436000e+10     1.381506e+11        6.01          1.464036e+11                 1.089600e+10  2.643000e+09       2.436000e+10  1.464036e+11      A  2020
 4       -1.128000e+09    2.468000e+10     3.336342e+11       13.24          3.267632e+11                 8.470000e+08  7.718000e+09       2.468000e+10  3.267632e+11      A  2021  ,
          date symbol       revenue   grossProfit  operatingIncome     netIncome    eps   totalAssets  totalStockholdersEquity  totalLiabilities     totalDebt  operatingCashFlow  freeCashFlow  \
 0  2023-04-30   NVDA  7.192000e+09  4.648000e+09     2.140000e+09  2.043000e+09  0.083  4.446000e+10             2.452000e+10      1.994000e+10  1.208000e+10       2.911000e+09  2.663000e+09
 1  2023-07-30   NVDA  1.350700e+10  9.462000e+09     6.800000e+09  6.188000e+09  0.250  4.955500e+10             2.750100e+10      2.205400e+10  1.095400e+10       6.348000e+09  6.059000e+09
 2  2023-10-29   NVDA  1.812000e+10  1.340000e+10     1.041700e+10  9.243000e+09  0.380  5.414800e+10             3.326500e+10      2.088300e+10  1.102700e+10       7.332000e+09  7.054000e+09
 3  2024-01-28   NVDA  2.210300e+10  1.679100e+10     1.361400e+10  1.228500e+10  0.500  6.572800e+10             4.297800e+10      2.275000e+10  1.105600e+10       1.149900e+10  1.124500e+10
 4  2024-04-28   NVDA  2.604400e+10  2.040600e+10     1.690900e+10  1.488100e+10  0.600  7.707200e+10             4.914200e+10      2.793000e+10  1.123700e+10       1.534500e+10  1.497600e+10

    capitalExpenditure  numberOfShares  enterpriseValue  stockPrice  marketCapitalization  minusCashAndCashEquivalents  addTotalDebt  sharesOutstanding     marketCap period  year
 0        -248000000.0    2.470000e+10     7.210780e+11       28.91          7.140770e+11                 5.079000e+09  1.208000e+10       2.470000e+10  7.140770e+11      Q  2023
 1        -289000000.0    2.473000e+10     1.160804e+12       46.73          1.155633e+12                 5.783000e+09  1.095400e+10       2.473000e+10  1.155633e+12      Q  2023
 2        -278000000.0    2.468000e+10     1.021337e+12       41.16          1.015829e+12                 5.519000e+09  1.102700e+10       2.468000e+10  1.015829e+12      Q  2023
 3        -254000000.0    2.466000e+10     1.544286e+12       62.47          1.540510e+12                 7.280000e+09  1.105600e+10       2.466000e+10  1.540510e+12      Q  2024
 4        -369000000.0    2.462000e+10     2.164301e+12       87.76          2.160651e+12                 7.587000e+09  1.123700e+10       2.462000e+10  2.160651e+12      Q  2024  )

### 3. Explore Raw Data

In [4]:
print("Annual shape:", dfA.shape)
print("Quarter shape:", dfQ.shape)

print("Annual years:", dfA['year'].unique())
print("Quarter years:", dfQ['year'].unique())

dfA['period'].value_counts(), dfQ['period'].value_counts()

Annual shape: (4144, 24)
Quarter shape: (5089, 24)
Annual years: [2017 2018 2019 2020 2021 2022 2023 2024 2025]
Quarter years: [2023 2024 2025 2022]

(period
 A    4144
 Name: count, dtype: int64,
 period
 Q    5089
 Name: count, dtype: int64)

In [5]:
print("Annual symbol count:", dfA['symbol'].nunique())
print("Quarter symbol count:", dfQ['symbol'].nunique())

Annual symbol count: 503
Quarter symbol count: 503

### 4. Normalize Year Column

In [6]:
dfA['year'] = pd.to_datetime(dfA['date'], errors='coerce').dt.year
dfQ['year'] = pd.to_datetime(dfQ['date'], errors='coerce').dt.year

### 5. Filter Data >= 2017

In [7]:
dfA = dfA[dfA['year'] >= 2017]
dfQ = dfQ[dfQ['year'] >= 2017]

dfA.shape, dfQ.shape

((4144, 24), (5089, 24))

### 6. Clean Quarterly: Pick Latest Quarter per Symbol-Year

In [8]:
dfQ_latest = (
    dfQ.sort_values(['symbol', 'year', 'date'])
       .groupby(['symbol', 'year'], as_index=False)
       .last()
)

dfQ_latest.head()

,symbol,year,date,revenue,grossProfit,operatingIncome,netIncome,eps,totalAssets,totalStockholdersEquity,totalLiabilities,totalDebt,operatingCashFlow,freeCashFlow,capitalExpenditure,numberOfShares,enterpriseValue,stockPrice,marketCapitalization,minusCashAndCashEquivalents,addTotalDebt,sharesOutstanding,marketCap,period
0,A,2023,2023-10-31,1.688000e+09,9.150000e+08,4.080000e+08,4.750000e+08,1.63,1.076300e+10,5.845000e+09,4.918000e+09,2.735000e+09,5.160000e+08,4.320000e+08,-8.400000e+07,2.920000e+08,3.132904e+10,103.37,3.018404e+10,1.590000e+09,2.735000e+09,2.920000e+08,3.018404e+10,Q
1,A,2024,2024-10-31,1.701000e+09,9.160000e+08,4.080000e+08,3.510000e+08,1.23,1.184600e+10,5.898000e+09,5.948000e+09,3.390000e+09,4.810000e+08,3.880000e+08,-9.300000e+07,2.900000e+08,3.985090e+10,130.31,3.778990e+10,1.329000e+09,3.390000e+09,2.900000e+08,3.778990e+10,Q
2,A,2025,2025-07-31,1.738000e+09,9.140000e+08,3.600000e+08,3.360000e+08,1.18,1.222600e+10,6.370000e+09,5.856000e+09,3.409000e+09,3.620000e+08,5.730000e+08,2.110000e+08,2.850000e+08,3.459485e+10,114.81,3.272085e+10,1.535000e+09,3.409000e+09,2.850000e+08,3.272085e+10,Q
3,AAPL,2023,2023-12-30,1.195750e+11,5.485500e+10,4.037300e+10,3.391600e+10,2.19,3.535140e+11,7.410000e+10,2.794140e+11,1.080400e+11,3.989500e+10,3.750300e+10,-2.392000e+09,1.550976e+10,3.053375e+12,192.53,2.986095e+12,4.076000e+10,1.080400e+11,1.550976e+10,2.986095e+12,Q
4,AAPL,2024,2024-12-28,1.243000e+11,5.827500e+10,4.283200e+10,3.633000e+10,2.41,3.440850e+11,6.675800e+10,2.773270e+11,9.679900e+10,2.993500e+10,2.699500e+10,-2.940000e+09,1.508172e+10,3.921238e+12,255.59,3.854738e+12,3.029900e+10,9.679900e+10,1.508172e+10,3.854738e+12,Q

### 7. Clean Annual: Pick Final Annual Filing per Symbol-Year

In [9]:
dfA_latest = (
    dfA.sort_values(['symbol', 'year', 'date'])
       .groupby(['symbol', 'year'], as_index=False)
       .last()
)

dfA_latest.head()

,symbol,year,date,revenue,grossProfit,operatingIncome,netIncome,eps,totalAssets,totalStockholdersEquity,totalLiabilities,totalDebt,operatingCashFlow,freeCashFlow,capitalExpenditure,numberOfShares,enterpriseValue,stockPrice,marketCapitalization,minusCashAndCashEquivalents,addTotalDebt,sharesOutstanding,marketCap,period
0,A,2017,2017-10-31,4.472000e+09,2.409000e+09,8.410000e+08,6.840000e+08,2.12,8.426000e+09,4.826000e+09,3.591000e+09,2.011000e+09,8.890000e+08,7.130000e+08,-176000000.0,322000000.0,2.123866e+10,68.03,2.190566e+10,2.678000e+09,2.011000e+09,322000000.0,2.190566e+10,A
1,A,2018,2018-10-31,4.914000e+09,2.687000e+09,9.040000e+08,3.160000e+08,0.98,8.541000e+09,4.567000e+09,3.970000e+09,1.799000e+09,1.087000e+09,9.100000e+08,-177000000.0,321000000.0,2.034959e+10,64.79,2.079759e+10,2.247000e+09,1.799000e+09,321000000.0,2.079759e+10,A
2,A,2019,2019-10-31,5.163000e+09,2.805000e+09,9.410000e+08,1.071000e+09,3.41,9.452000e+09,4.748000e+09,4.704000e+09,2.407000e+09,1.021000e+09,8.650000e+08,-156000000.0,314000000.0,2.481050e+10,75.75,2.378550e+10,1.382000e+09,2.407000e+09,314000000.0,2.378550e+10,A
3,A,2020,2020-10-31,5.339000e+09,2.837000e+09,8.460000e+08,7.190000e+08,2.33,9.627000e+09,4.873000e+09,4.754000e+09,2.359000e+09,9.210000e+08,8.020000e+08,-119000000.0,309000000.0,3.246381e+10,102.09,3.154581e+10,1.441000e+09,2.359000e+09,309000000.0,3.154581e+10,A
4,A,2021,2021-10-31,6.319000e+09,3.407000e+09,1.347000e+09,1.210000e+09,3.98,1.070500e+10,5.389000e+09,5.316000e+09,2.729000e+09,1.485000e+09,1.296000e+09,-189000000.0,304000000.0,4.899124e+10,157.06,4.774624e+10,1.484000e+09,2.729000e+09,304000000.0,4.774624e+10,A

### 8. Merge annual and quarter data (Annual priority)

In [10]:
dfC = pd.concat([dfA_latest, dfQ_latest], ignore_index=True)

df_clean = (
    dfC.sort_values(['symbol', 'year', 'period'])  # A before Q
       .groupby(['symbol', 'year'], as_index=False)
       .first()
)

df_clean.head(20), df_clean.shape

(   symbol  year        date       revenue   grossProfit  operatingIncome     netIncome   eps   totalAssets  totalStockholdersEquity  totalLiabilities     totalDebt  operatingCashFlow  freeCashFlow  \
 0       A  2017  2017-10-31  4.472000e+09  2.409000e+09     8.410000e+08  6.840000e+08  2.12  8.426000e+09             4.826000e+09      3.591000e+09  2.011000e+09       8.890000e+08  7.130000e+08
 1       A  2018  2018-10-31  4.914000e+09  2.687000e+09     9.040000e+08  3.160000e+08  0.98  8.541000e+09             4.567000e+09      3.970000e+09  1.799000e+09       1.087000e+09  9.100000e+08
 2       A  2019  2019-10-31  5.163000e+09  2.805000e+09     9.410000e+08  1.071000e+09  3.41  9.452000e+09             4.748000e+09      4.704000e+09  2.407000e+09       1.021000e+09  8.650000e+08
 3       A  2020  2020-10-31  5.339000e+09  2.837000e+09     8.460000e+08  7.190000e+08  2.33  9.627000e+09             4.873000e+09      4.754000e+09  2.359000e+09       9.210000e+08  8.020000e+08
 4       A  2021  2021-10-31  6.319000e+09  3.407000e+09     1.347000e+09  1.210000e+09  3.98  1.070500e+10             5.389000e+09      5.316000e+09  2.729000e+09       1.485000e+09  1.296000e+09
 5       A  2022  2022-10-31  6.848000e+09  3.722000e+09     1.618000e+09  1.254000e+09  4.19  1.053200e+10             5.305000e+09      5.227000e+09  2.769000e+09       1.312000e+09  1.021000e+09
 6       A  2023  2023-10-31  6.833000e+09  3.465000e+09     1.350000e+09  1.240000e+09  4.22  1.076300e+10             5.845000e+09      4.918000e+09  2.735000e+09       1.772000e+09  1.474000e+09
 7       A  2024  2024-10-31  6.510000e+09  3.535000e+09     1.488000e+09  1.289000e+09  4.44  1.184600e+10             5.898000e+09      5.948000e+09  3.574000e+09       1.751000e+09  1.373000e+09
 8       A  2025  2025-07-31  1.738000e+09  9.140000e+08     3.600000e+08  3.360000e+08  1.18  1.222600e+10             6.370000e+09      5.856000e+09  3.409000e+09       3.620000e+08  5.730000e+08
 9    AAPL  2017  2017-09-30  2.292340e+11  8.818600e+10     6.134400e+10  4.835100e+10  2.32  3.753190e+11             1.340470e+11      2.412720e+11  1.156800e+11       6.422500e+10  5.143000e+10
 10   AAPL  2018  2018-09-29  2.655950e+11  1.018390e+11     7.089800e+10  5.953100e+10  3.00  3.657250e+11             1.071470e+11      2.585780e+11  1.144830e+11       7.743400e+10  6.412100e+10
 11   AAPL  2019  2019-09-28  2.601740e+11  9.839200e+10     6.393000e+10  5.525600e+10  2.99  3.385160e+11             9.048800e+10      2.480280e+11  1.080470e+11       6.939100e+10  5.889600e+10
 12   AAPL  2020  2020-09-26  2.745150e+11  1.049560e+11     6.628800e+10  5.741100e+10  3.31  3.238880e+11             6.533900e+10      2.585490e+11  1.222780e+11       8.067400e+10  7.336500e+10
 13   AAPL  2021  2021-09-25  3.658170e+11  1.528360e+11     1.089490e+11  9.468000e+10  5.67  3.510020e+11             6.309000e+10      2.879120e+11  1.365220e+11       1.040380e+11  9.295300e+10
 14   AAPL  2022  2022-09-24  3.943280e+11  1.707820e+11     1.194370e+11  9.980300e+10  6.15  3.527550e+11             5.067200e+10      3.020830e+11  1.324800e+11       1.221510e+11  1.114430e+11
 15   AAPL  2023  2023-09-30  3.832850e+11  1.691480e+11     1.143010e+11  9.699500e+10  6.16  3.525830e+11             6.214600e+10      2.904370e+11  1.239300e+11       1.105430e+11  9.958400e+10
 16   AAPL  2024  2024-09-28  3.910350e+11  1.806830e+11     1.232160e+11  9.373600e+10  6.11  3.649800e+11             5.695000e+10      3.080300e+11  1.190590e+11       1.182540e+11  1.088070e+11
 17   AAPL  2025  2025-09-27  4.161610e+11  1.952010e+11     1.330500e+11  1.120100e+11  7.49  3.592410e+11             7.373300e+10      2.855080e+11  1.123770e+11       1.114820e+11  9.876700e+10
 18   ABBV  2017  2017-12-31  2.821600e+10  2.117600e+10     9.545000e+09  5.309000e+09  3.31  7.078600e+10             5.097000e+09      6.568900e+10  3.736800e+10       9.960000e+09  9.431000e+09
 19   ABBV  2018  2018-12-31  3.275300e+10  2.503500e+10     6.383000e+09  5.687000e+09  3.69  5.935200e+10            -8.446000e+09      6.779800e+10  4.031000e+10       1.342700e+10  1.278900e+10

     capitalExpenditure  numberOfShares  enterpriseValue  stockPrice  marketCapitalization  minusCashAndCashEquivalents  addTotalDebt  sharesOutstanding     marketCap period
 0        -1.760000e+08    3.220000e+08     2.123866e+10       68.03          2.190566e+10                 2.678000e+09  2.011000e+09       3.220000e+08  2.190566e+10      A
 1        -1.770000e+08    3.210000e+08     2.034959e+10       64.79          2.079759e+10                 2.247000e+09  1.799000e+09       3.210000e+08  2.079759e+10      A
 2        -1.560000e+08    3.140000e+08     2.481050e+10       75.75          2.378550e+10                 1.382000e+09  2.407000e+09       3.140000e+08  2.378550e+10      A
 3        -1.190000e+08    3.090000e+08     3.246381e+10      102.09          3.154581e+10                 1.441000e+09  2.359000e+09       3.090000e+08  3.154581e+10      A
 4        -1.890000e+08    3.040000e+08     4.899124e+10      157.06          4.774624e+10                 1.484000e+09  2.729000e+09       3.040000e+08  4.774624e+10      A
 5        -2.910000e+08    2.990000e+08     4.308265e+10      138.35          4.136665e+10                 1.053000e+09  2.769000e+09       2.990000e+08  4.136665e+10      A
 6        -2.980000e+08    2.940000e+08     3.153578e+10      103.37          3.039078e+10                 1.590000e+09  2.735000e+09       2.940000e+08  3.039078e+10      A
 7        -3.780000e+08    2.900000e+08     4.003490e+10      130.31          3.778990e+10                 1.329000e+09  3.574000e+09       2.900000e+08  3.778990e+10      A
 8         2.110000e+08    2.850000e+08     3.459485e+10      114.81          3.272085e+10                 1.535000e+09  3.409000e+09       2.850000e+08  3.272085e+10      Q
 9        -1.279500e+10    2.086897e+10     8.994723e+11       38.53          8.040813e+11                 2.028900e+10  1.156800e+11       2.086897e+10  8.040813e+11      A
 10       -1.331300e+10    1.982151e+10     1.207296e+12       56.44          1.118726e+12                 2.591300e+10  1.144830e+11       1.982151e+10  1.118726e+12      A
 11       -1.049500e+10    1.847134e+10     1.069770e+12       54.71          1.010567e+12                 4.884400e+10  1.080470e+11       1.847134e+10  1.010567e+12      A
 12       -7.309000e+09    1.735212e+10     2.032558e+12      112.28          1.948296e+12                 3.801600e+10  1.222780e+11       1.735212e+10  1.948296e+12      A
 13       -1.108500e+10    1.670127e+10     2.555333e+12      146.92          2.453751e+12                 3.494000e+10  1.365220e+11       1.670127e+10  2.453751e+12      A
 14       -1.070800e+10    1.621596e+10     2.548201e+12      150.43          2.439367e+12                 2.364600e+10  1.324800e+11       1.621596e+10  2.439367e+12      A
 15       -1.095900e+10    1.574423e+10     2.789535e+12      171.21          2.695570e+12                 2.996500e+10  1.239300e+11       1.574423e+10  2.695570e+12      A
 16       -9.447000e+09    1.534378e+10     3.584276e+12      227.79          3.495160e+12                 2.994300e+10  1.190590e+11       1.534378e+10  3.495160e+12      A
 17       -1.271500e+10    1.494850e+10     3.897582e+12      255.46          3.818744e+12                 3.353900e+10  1.123770e+11       1.494850e+10  3.818744e+12      A
 18       -5.290000e+08    1.596000e+09     1.824142e+11       96.71          1.543492e+11                 9.303000e+09  3.736800e+10       1.596000e+09  1.543492e+11      A
 19       -6.380000e+08    1.541000e+09     1.750858e+11       92.19          1.420648e+11                 7.289000e+09  4.031000e+10       1.541000e+09  1.420648e+11      A  ,
 (4503, 24))

### 9. Transform wide format to long format

In [12]:
df_wide = df_clean.copy()
df_wide.columns.tolist()

['symbol',
 'year',
 'date',
 'revenue',
 'grossProfit',
 'operatingIncome',
 'netIncome',
 'eps',
 'totalAssets',
 'totalStockholdersEquity',
 'totalLiabilities',
 'totalDebt',
 'operatingCashFlow',
 'freeCashFlow',
 'capitalExpenditure',
 'numberOfShares',
 'enterpriseValue',
 'stockPrice',
 'marketCapitalization',
 'minusCashAndCashEquivalents',
 'addTotalDebt',
 'sharesOutstanding',
 'marketCap',
 'period']

In [17]:
metric_map = {
    "revenue" : "revenue",
    "grossProfit" : "gross_profit",
    "operatingIncome" : "operating_income",
    "netIncome" : "net_income",
    "eps" : "eps",
    "totalAssets" : "total_assets",
    "totalStockholdersEquity" : "total_stockholders_equity",
    "totalLiabilities" : "total_liabilities",
    "totalDebt" : "total_debt",
    "operatingCashFlow" : "operating_cash_flow",
    "freeCashFlow" : "free_cash_flow",
    "capitalExpenditure" : "capital_expenditure",
    "numberOfShares" : "number_of_shares",
    "enterpriseValue" : "enterprise_value",
    "marketCapitalization" : "market_capitalization",
    "sharesOutstanding" : "shares_outstanding",
}

value_cols = list(metric_map.keys())

# =============================================
# Period_end at long format
# =============================================

df_long = df_wide.copy()
df_long["period_end"] = pd.to_datetime(df_long["date"]).dt.date

df_long["period_type"] = df_long["period"].map({
    "A" : "annual",
    "Q" : "quarterly"
})

if df_long["period_type"].isna().any():
    raise ValueError("Some rows have invalid period value (not A/Q).")

# =============================================
# Melt to long format
# =============================================

df_long = df_long.melt(
    id_vars = ["symbol", "period_end", "period_type"],
    value_vars = value_cols,
    var_name = "metric_raw",
    value_name = "value"
)

df_long["metric"] = df_long["metric_raw"].map(metric_map)
df_long = df_long.dropna(subset=["value"])

print("Long format rows:", len(df_long))
df_long.head(10)

Long format rows: 72001

  symbol  period_end period_type metric_raw         value   metric
0      A  2017-10-31      annual    revenue  4.472000e+09  revenue
1      A  2018-10-31      annual    revenue  4.914000e+09  revenue
2      A  2019-10-31      annual    revenue  5.163000e+09  revenue
3      A  2020-10-31      annual    revenue  5.339000e+09  revenue
4      A  2021-10-31      annual    revenue  6.319000e+09  revenue
5      A  2022-10-31      annual    revenue  6.848000e+09  revenue
6      A  2023-10-31      annual    revenue  6.833000e+09  revenue
7      A  2024-10-31      annual    revenue  6.510000e+09  revenue
8      A  2025-07-31   quarterly    revenue  1.738000e+09  revenue
9   AAPL  2017-09-30      annual    revenue  2.292340e+11  revenue

In [18]:
# =============================================
# Final tidy dataframe
# =============================================

df_out = df_long[[
    "symbol",
    "period_end",
    "period_type",
    "metric",
    "value"
]]

# =============================================
# Save to parquet
# =============================================

OUTPUT_DIR = ROOT / "data/curated/fundamentals/"
OUTPUT_DIR.mkdir(parents=True, exist_ok=True)
df_out.to_parquet(OUTPUT_DIR / "fundamentals_clean.parquet", index=False)
print("Saved cleaned fundamentals to:", OUTPUT_DIR / "fundamentals_clean.parquet")

Saved cleaned fundamentals to: /home/clsx6609/ds5110/data/curated/fundamentals/fundamentals_clean.parquet